<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{../static/lib/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{../static/css/base.css}"/>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-main">
        <div class="layui-row">
            <form  class="layui-form" th:action="@{/admin/}">
                <div class="layui-col-md2">
                    <label for="phone" class="layui-form-label">电话</label>
                    <div class="layui-input-block">
                        <input id="phone" type="text" name="phone" th:value="${userInfo.phone}" placeholder="请输入电话" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md2">
                    <label for="username" class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input id="username" type="text" name="username" th:value="${userInfo.username}" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <table id="demo" lay-filter="admin"></table>
    </div>
</div>
<script type="text/javascript" th:src="@{../static/lib/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    //JS
    layui.use(['element', 'layer', 'util', 'table'], function(){
        var element = layui.element
            ,layer = layui.layer
            ,util = layui.util
            ,table = layui.table
            ,$ = layui.$;

        var phone = [[${userInfo.phone}]], username = [[${userInfo.username}]];

        table.render({
            elem: '#demo',
            height: 312,
            url: '/admin/userInfo', //数据接口
            where: {phone: phone, username: username},
            method: 'post',
            page: true, //开启分页
            cols: [[
                //表头
                {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'},
                {field: 'username', title: '用户名', width:120},
                {field: 'nickname', title: '昵称', width:150},
                {field: 'sex', title: '性别', width:100},
                {field: 'phone', title: '电话', width: 150},
                {field: 'email', title: '邮箱', width: 210, sort: true},
                {field: 'birthday', title: '出生日期', width: 150, sort: true},
                {field: 'signature', title: '个性签名', width: 200, sort: true},
                {field: 'registerTime', title: '注册时间', width: 200, sort: true},
                {field: 'loginTime', title: '登录时间', width: 200, sort: true},
                {title: '操作', fixed: 'right', width:250, align:'center', toolbar: '#barDemo'}
            ]],
            toolbar: 'default',
            defaultToolbar: ['filter', 'print', 'exports', {
                title: '提示' //标题
                ,layEvent: 'LAYTABLE_TIPS' //事件名，用于 toolbar 事件中使用
                ,icon: 'layui-icon-tips' //图标类名
            }]
        })

        table.on('tool(admin)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;

            if (layEvent === 'detail'){

            }else if (layEvent === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令

                });
            }else if (layEvent === 'edit'){
                layer.open({
                    type:2,
                    area:['1000px','700px'],
                    title:'管理员信息编辑',
                    content:'/admin/edit?id=' + data.id
                })
                // obj.update({
                //     id: obj.data.id,
                //     username: obj.data.username,
                //     nickname: obj.data.nickname,
                //     sex: obj.data.sex,
                //     phone: obj.data.phone,
                //     email: obj.data.email,
                //     birthday: obj.data.birthday,
                //     signature: obj.data.signature,
                //     registerTime: obj.data.registerTime,
                //     loginTime: obj.data.loginTime
                // })
            }else if (layEvent === 'LAYTABLE_TIPS') {
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        })

    });
    /*]]>*/
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>
</body>
</html>