<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" th:href="@{../../../static/lib/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{../../../static/css/base.css}"/>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-main">
        <div class="layui-row">
            <form  class="layui-form" th:action="@{/admin/role/}">
                <div class="layui-col-md2">
                    <label for="name" class="layui-form-label">角色名</label>
                    <div class="layui-input-block">
                        <input id="name" type="text" name="name" th:value="${role.name}" placeholder="请输入角色名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <table id="demo" lay-filter="role"></table>
    </div>
</div>
<script type="text/javascript" th:src="@{../../../static/lib/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    //JS
    layui.use(['layer', 'table'], function(){
        var layer = layui.layer
            ,table = layui.table
            ,$ = layui.$;

        var name = [[${role.name}]], flag = [[${role.flag}]];

        var tableIns = table.render({
            elem: '#demo',
            height: 312,
            url: '/system/admin/role/infos', //数据接口
            where: {'name': name},
            method: 'post',
            page: true, //开启分页
            cols: [[
                //表头
                {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'},
                {field: 'name', title: '角色名', width:120},
                {field: 'flag', title: '角色标志', width:150},
                {field: 'description', title: '描述', width:200},
                {title: '操作', fixed: 'right', width:250, align:'center', toolbar: '#barDemo'}
            ]],
            toolbar: 'default',
            defaultToolbar: ['filter', 'print', 'exports', {
                title: '提示' //标题
                ,layEvent: 'LAYTABLE_TIPS' //事件名，用于 toolbar 事件中使用
                ,icon: 'layui-icon-tips' //图标类名
            }]
        })

        table.on('tool(role)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            // var tr = obj.tr;

            if (layEvent === 'detail'){
                layer.open({
                    type:2,
                    area:['1000px','700px'],
                    title:'查看角色信息',
                    content:'/system/admin/role/detail?id=' + data.id
                })
            }else if (layEvent === 'del'){
                layer.confirm('确定删除么？', function(index){
                    //向服务端发送删除指令
                    $.ajax({
                        url: '/system/admin/role/delete',
                        type: 'POST',
                        data: {'id': data.id},
                        success: function (res){
                            if (res.code === 0){
                                layer.msg(res.message, {icon:1, time: 1000}, function () {
                                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                    parent.layer.close(index);
                                })
                            }
                        }
                    })
                });
            }else if (layEvent === 'edit'){
                var index = layer.open({
                    type:2,
                    area:['1000px','700px'],
                    title:'角色信息编辑',
                    content:'/system/admin/role/edit?id=' + data.id,
                    btn: ['提交', '重置'],
                    btnAlign: '1',
                    cancel: function () {
                        layer.close(index);
                    },
                    yes: function (index) {
                        var res = window["layui-layer-iframe" + index].callbackdata();
                        $.ajax({
                            url:'/system/admin/role/save',
                            type:'POST',
                            data: res,
                            success: function (result) {
                                layer.msg(result.message, {icon:1, time: 1000}, function () {
                                    layer.close(index);
                                    //tableIns  为layui数据表格
                                    tableIns.reload({
                                        page:{
                                            curr:1   //表格重载的时候将查询页数设为第一页
                                        }
                                    })
                                })
                            }
                        });
                        return false;
                    }
                })
            }else if (layEvent === 'LAYTABLE_TIPS') {
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        })

    });
    /*]]>*/
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>
</body>
</html>