<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="side">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="menu">
            <li class="layui-nav-item" th:each="sm : ${sidemenus}">
                <a href="javascript:;" th:text="${sm.key.menuName}"></a>
                <dl class="layui-nav-child">
                    <dd th:each="m : ${sm.value}"><a th:href="${m.href}" th:data-href="${m.link}" th:text="${m.menuName}"></a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
</html>