<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" th:href="@{../../../static/lib/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{../../../static/css/base.css}"/>
</head>
<style>
    .layui-form{margin-top: 3rem;}
</style>
<body>
<div class="layui-layout layui-layout-admin">
    <form class="layui-form layui-col-md10 layui-col-md-offset1"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <div class="layui-form-item">
            <label for="parentId" class="layui-form-label">上级菜单：</label>
            <div class="layui-input-block">
                <select id="parentId" name="parentId" lay-verify="required">
                    <option value="0">请选择上级菜单</option>
                    <option th:each="m : ${menus}" th:value="${m.id}" th:text="${m.menuName}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="menuName" class="layui-form-label">菜单名称：</label>
            <div class="layui-input-block">
                <input id="menuName" type="text" name="menuName" placeholder="请输入菜单名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="href" class="layui-form-label">tab链接：</label>
            <div class="layui-input-block">
                <input id="href" type="text" name="href" placeholder="请输入tab链接" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="link" class="layui-form-label">链接：</label>
            <div class="layui-input-block">
                <input id="link" type="text" name="link" placeholder="请输入链接" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="sort" class="layui-form-label">序号：</label>
            <div class="layui-input-block">
                <input id="sort" type="text" name="sort" placeholder="请输入序号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">显示/隐藏</label>
            <div class="layui-input-block">
                <input type="radio" name="display" value="0" title="显示">
                <input type="radio" name="display" value="1" title="隐藏">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="level" class="layui-form-label">等级：</label>
            <div class="layui-input-block">
                <input id="level" type="text" name="level" placeholder="请输入等级" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="remarks" class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea id="remarks" name="remarks" placeholder="请输入描述内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
    </form>
</div>
<script type="text/javascript" th:src="@{../../../static/lib/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    //JS
    layui.use(['layer', 'form'], function(){
        var form = layui.form;

    });
    /*]]>*/
</script>
<script type="text/javascript">
    var $ = layui.$;
    var callbackdata = function (){
        return {
            parentId: $("select[name=parentId] option:selected").val(),
            menuName: $("#menuName").val(),
            link: $("#link").val(),
            sort: $("#sort").val(),
            display: $("input[name=display]:checked").val(),
            level: $("#level").val(),
            remarks: $("#remarks").val()
        };
    }
</script>
</body>
</html>