<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" th:href="@{../../../static/lib/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{../../../static/css/base.css}"/>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-main">
        <div class="layui-row">
            <form  class="layui-form" th:action="@{/admin/menu}">
                <div class="layui-col-md2">
                    <label for="menuName" class="layui-form-label">菜单名</label>
                    <div class="layui-input-block">
                        <input id="menuName" type="text" name="menuName" th:value="${menu.menuName}" placeholder="请输入菜单名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <table id="demo" lay-filter="menu"></table>
    </div>
</div>
<script type="text/javascript" th:src="@{../../../static/lib/layui/layui.js}"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    //JS
    layui.use(['element', 'layer', 'form', 'table'], function(){
        var layer = layui.layer,
            table = layui.table,
            $ = layui.$,
            menuName = [[${menu.menuName}]];

        var tableIns = table.render({
            elem: '#demo',
            height: 520,
            url: '/system/admin/menu/getMenus', //数据接口
            where: {'menuName': menuName},
            method: 'post',
            page: true, //开启分页
            cols: [[
                //表头
                {type: "checkbox", width: 60, fixed: 'left'},
                {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'},
                {field: 'menuName', title: '菜单名称', width:150},
                {field: 'parentName', title: '上级菜单', width:150},
                {field: 'href', title: 'tab连接', width:250},
                {field: 'link', title: '连接', width:250},
                {field: 'sort', title: '序号', width: 100},
                {field: 'disp', title: '显示/隐藏', width: 100},
                {field: 'lev', title: '等级', width: 100},
                {title: '操作', fixed: 'right', width:250, align:'center', toolbar: '#barDemo'}
            ]],
            toolbar: 'default',
            defaultToolbar: ['filter', 'print', 'exports']
        })

        table.on('tool(menu)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            // var tr = obj.tr;

            switch (layEvent) {
                case 'check':
                    layer.confirm('请选择下面的操作', {
                        icon: 3,
                        btn: ['显示', '隐藏'],
                        title: '提示'
                    }, function (index) {
                        $.ajax({
                            url: '/system/admin/menu/status',
                            data: {'id': data.id, 'display': 0},
                            type: 'POST',
                            success: function (res) {
                                if (res.code === 0) {
                                    layer.msg(res.message, {icon: 1, time: 1000}, function () {
                                        obj.update({
                                            'disp': res.data.disp
                                        });
                                        layer.close(index);
                                    })
                                }
                            }
                        })
                    }, function (index) {
                        $.ajax({
                            url: '/system/admin/menu/status',
                            data: {'id': data.id, 'display': 1},
                            type: 'POST',
                            success: function (res) {
                                if (res.code === 0) {
                                    layer.msg(res.message, {icon: 1, time: 1000}, function () {
                                        obj.update({
                                            'disp': res.data.disp
                                        });
                                        layer.close(index);
                                    })
                                }
                            }
                        })
                    })
                    break;
                case 'del':
                    layer.confirm('确定删除么？', function (index) {
                        //向服务端发送删除指令
                        $.ajax({
                            url: '/system/admin/menu/delete',
                            type: 'POST',
                            data: {'id': data.id},
                            success: function (res) {
                                if (res.code === 0) {
                                    layer.msg(res.message, {icon: 1, time: 1000}, function () {
                                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                        parent.layer.close(index);
                                    })
                                }
                            }
                        })
                    });
                    break;
                case 'edit':
                    var index = layer.open({
                        type: 2,
                        area: ['1000px', '700px'],
                        title: '菜单信息编辑',
                        content: '/system/admin/menu/edit?id=' + data.id,
                        btn: ['提交', '重置'],
                        btnAlign: '1',
                        cancel: function () {
                            layer.close(index);
                        },
                        yes: function (index) {
                            var res = window["layui-layer-iframe" + index].callbackdata();
                            $.ajax({
                                url: '/system/admin/menu/save',
                                type: 'POST',
                                data: res,
                                success: function (result) {
                                    layer.msg(result.message, {icon: 1, time: 1000}, function () {
                                        layer.close(index);
                                        //tableIns  为layui数据表格
                                        tableIns.reload({
                                            page: {
                                                curr: 1   //表格重载的时候将查询页数设为第一页
                                            }
                                        })
                                    })
                                }
                            });
                            return false;
                        }
                    })
                    break;
            }
        })

        table.on('toolbar(menu)', function (obj) {
            var layEvent = obj.event;
            var checkStatus = table.checkStatus(obj.config.id);
            switch (layEvent) {
                case 'add':
                    var index = layer.open({
                        type: 2,
                        area: ['1000px', '700px'],
                        title: '菜单信息编辑',
                        content: '/system/admin/menu/add',
                        btn: ['提交', '重置'],
                        btnAlign: '1',
                        cancel: function () {
                            layer.close(index);
                        },
                        yes: function (index) {
                            var res = window["layui-layer-iframe" + index].callbackdata();
                            $.ajax({
                                url: '/system/admin/menu/save',
                                type: 'POST',
                                data: res,
                                success: function (result) {
                                    layer.msg(result.message, {icon: 1, time: 1000}, function () {
                                        layer.close(index);
                                        //tableIns  为layui数据表格
                                        tableIns.reload({
                                            page: {
                                                curr: 1   //表格重载的时候将查询页数设为第一页
                                            }
                                        })
                                    })
                                }
                            });
                            return false;
                        }
                    })
                    break;
                case 'delete':
                    var ids = [];
                    $.each(checkStatus.data, function (key, value) {
                        ids.push(value.id);
                    });
                    layer.confirm('确定删除么？', function (index) {
                        //向服务端发送删除指令
                        $.ajax({
                            url: '/system/admin/menu/idsDelete',
                            type: 'POST',
                            data: {'ids':ids},
                            success: function (res) {
                                if (res.code === 0) {
                                    layer.msg(res.message, {icon: 1, time: 1000}, function () {
                                        layer.close(index);
                                        tableIns.reload({
                                            page: {
                                                curr: obj.config.page.curr
                                            }
                                        })
                                    })
                                }
                            }
                        })
                    });
                    break;
            }
        })

    });
    /*]]>*/
</script>
</body>
</html>