<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" th:href="@{../../../static/lib/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{../../../static/css/base.css}"/>
</head>
<style>
    .layui-form{margin-top: 3rem;}
</style>
<body>
<div class="layui-layout layui-layout-admin">
    <form class="layui-form layui-col-md10 layui-col-md-offset1"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <input type="hidden" id="id" name="id" th:value="${data.id}">
        <div class="layui-form-item">
            <label for="dataType" class="layui-form-label">数据类型：</label>
            <div class="layui-input-block">
                <input id="dataType" type="text" name="dataType" th:value="${data.dataType}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="key" class="layui-form-label">键名：</label>
            <div class="layui-input-block">
                <input id="key" type="text" name="key" th:value="${data.key}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="value" class="layui-form-label">值：</label>
            <div class="layui-input-block">
                <input id="value" type="text" name="value" th:value="${data.value}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
    </form>
</div>
<script type="text/javascript" th:src="@{../../../static/lib/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    //JS
    layui.use(['layer', 'form'], function(){
        var form = layui.form;

    });
    /*]]>*/
</script>
<script type="text/javascript">
    var $ = layui.$;
    var callbackdata = function (){
        return {
            id: $("#id").val(),
            dataType: $("#dataType").val(),
            key: $("#key").val(),
            value: $("#value").val()
        };
    }
</script>
</body>
</html>