<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" th:href="@{../../static/lib/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{../../static/css/base.css}"/>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-main">
        <div class="layui-row">
            <form  class="layui-form" th:action="@{/system/data/}">
                <div class="layui-col-md2">
                    <label for="dataType" class="layui-form-label">字典类型</label>
                    <div class="layui-input-block">
                        <input id="dataType" type="text" name="dataType" th:value="${data.dataType}" placeholder="请输入字典类型" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md2">
                    <label for="key" class="layui-form-label">键名</label>
                    <div class="layui-input-block">
                        <input id="key" type="text" name="key" th:value="${data.key}" placeholder="请输入键名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <table id="datas" lay-filter="datas"></table>
    </div>
</div>
<script type="text/javascript" th:src="@{../../static/lib/layui/layui.js}"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    {{#  } }}
</script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    //JS
    layui.use(['element', 'layer', 'table'], function(){
        var layer = layui.layer,
            table = layui.table,
            $ = layui.$,
            dataType = [[${data.dataType}]],
            key = [[${data.key}]];

        var tableIns = table.render({
            elem: '#datas',
            height: 312,
            url: '/system/data/getDatas', //数据接口
            where: {'dataType': dataType, 'key': key},
            method: 'post',
            page: true, //开启分页
            cols: [[
                //表头
                {type: "checkbox", width: 60, fixed: 'left'},
                {field: 'id', title: 'ID', width:200, align:'center', sort: true, fixed: 'left'},
                {field: 'dataType', title: '字典类型', width:220, align:'center'},
                {field: 'key', title: '键名', width:250, align:'center'},
                {field: 'value', title: '值', width:200, align:'center'},
                {title: '操作', fixed: 'right', width:250, align:'center', toolbar: '#barDemo'}
            ]],
            toolbar: 'default',
            defaultToolbar: ['filter', 'print', 'exports']
        })

        table.on('tool(datas)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            // var tr = obj.tr;

            switch (layEvent) {
                case 'del':
                    layer.confirm('确定删除么？', function (index) {
                        //向服务端发送删除指令
                        $.ajax({
                            url: '/system/data/delete',
                            type: 'POST',
                            data: {'id': data.id},
                            success: function (res) {
                                if (res.code === 0) {
                                    layer.msg(res.message, {icon: 1, time: 1000}, function () {
                                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                        parent.layer.close(index);
                                    })
                                }
                            }
                        })
                    });
                    break;
                case 'edit':
                    console.log(data.id);
                    var index = layer.open({
                        type: 2,
                        area: ['1000px', '700px'],
                        title: '数据字典信息编辑',
                        content: '/system/data/edit?id=' + data.id,
                        btn: ['提交', '重置'],
                        btnAlign: '1',
                        cancel: function () {
                            layer.close(index);
                        },
                        yes: function (index) {
                            var res = window["layui-layer-iframe" + index].callbackdata();
                            $.ajax({
                                url: '/system/data/save',
                                type: 'POST',
                                data: res,
                                success: function (result) {
                                    layer.msg(result.message, {icon: 1, time: 1000}, function () {
                                        layer.close(index);
                                        //tableIns  为layui数据表格
                                        tableIns.reload({
                                            page: {
                                                curr: 1   //表格重载的时候将查询页数设为第一页
                                            }
                                        })
                                    })
                                }
                            });
                            return false;
                        }
                    })
                    break;
                case 'LAYTABLE_TIPS':
                    layer.alert('Hi，头部工具栏扩展的右侧图标。');
                    break;
            }
        })

        table.on('toolbar(datas)', function (obj) {
            var layEvent = obj.event;

            switch (layEvent) {
                case 'add':
                    var index = layer.open({
                        type: 2,
                        area: ['1000px', '700px'],
                        title: '数据字典信息编辑',
                        content: '/system/data/add',
                        btn: ['提交', '重置'],
                        btnAlign: '1',
                        cancel: function () {
                            layer.close(index);
                        },
                        yes: function (index) {
                            var res = window["layui-layer-iframe" + index].callbackdata();
                            $.ajax({
                                url: '/system/data/save',
                                type: 'POST',
                                data: res,
                                success: function (result) {
                                    layer.msg(result.message, {icon: 1, time: 1000}, function () {
                                        layer.close(index);
                                        //tableIns  为layui数据表格
                                        tableIns.reload({
                                            page: {
                                                curr: 1   //表格重载的时候将查询页数设为第一页
                                            }
                                        })
                                    })
                                }
                            });
                            return false;
                        }
                    })
                    break;
            }
        })

    });
    /*]]>*/
</script>
</body>
</html>